
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
     :root{
         scroll-behavior: smooth;
     }
    
    
    .navbar-dark .navbar-nav .nav-link{
        color:white;
    }
    .navbar{
        z-index: 55555555555;
    }
    
.loading-lg{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: #fff ;
    display: flex;
    justify-content: center;
    justify-items: center;
    animation: gad  ease-in 3s ;
    animation-fill-mode:forwards ;
    
}

@keyframes gad{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
    .cover{
        height: 700px;
        /* background-image: url(hh.jpg); */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background: linear-gradient(to bottom, rgba(228, 156, 24, 0.8) 0%, rgba(70, 66, 15, 0.8) 100%),url(../image/hh.jpg);
    }
    .navbar-brand{
        font-size: 30px;
        font-weight: bold;
    }
    #cover{
        top: 25%;
        
    }
    #cover .row .p{
        font-size: 55px;
         color: white;
         width: 693px;
         margin: 0px auto;
    }
     .row .p2{
        font-size: 18px;
        color: rgba(255, 255, 255, 0.75) !important;
        margin: 30px auto;
        width: 50%;
      
    }
    div p:nth-child(2){
       
        width: 90px;
        height: 4px;
        border-radius: 10px;
        margin: 10px auto;
    }
    .o{
        background-color: rgb(179, 106, 12);
        border: 1px solid rgba(214, 99, 50, 0.685);
    }
    .o2{
        background-color: white;
        color: white;
    }
    .bt3,.bt,.bt4{
        width: 180px;
        padding: 1.25rem 2.25rem;
        font-size: 0.85rem;
        font-weight: 700;
        border: none;
        border-radius: 10rem;
        
    }
    .bt,.bt3{
       color: white;
        background-color: #f4623a; 
    }
    .bt2{
        background-color: white;
        color: black;
    }
    .bt3{
      width: 500px;
    }
    .intro{
        background-color: #f4623a;
        height: 520px;
    }
    .W{
        font-size: 35px;
        color: white;
    
    }
    .ser{
        background-color: rgb(255, 255, 255);
    }
    .b{
        font-size: 35px;
        font-weight:500;
    }
    i{
        color:#f4623a ;
        font-size: 38px;
    }
    .te .container p:first-child{
        font-size:40px;
    }
    .m{
        margin-top: 50px;
    }
    .m p:last-child{
        color: #6c757d !important;
    }
    .wo .row div{
     padding: 0;
    }
    .from-control:focus-visible{
     color: transparent;
     background-color: transparent;
     border-color: #dc3545;
    }
    .from-control:focus{
        border-color: #dc3545;
        box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
        background-color: white;
        color: rgb(245, 143, 199);
    } 
    .navbar-toggler{
        border: 0;
    }
@media (max-width:767px) {
   #cover .row .p {
    font-size: 35px;
     color: white;
     width: 350px;
    
}
.navbar-brand {
    font-size: 26px;
}
.row .p2{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.75) !important;
    margin: 20px auto;
    width:100%;
  
}
.ser div{
    margin-left: 0!important;
}
.intro{
    height: 468px;
}
.te .container p:first-child{
    font-size: 30px;
}
.bt3{
    width: 350px; 
}

.intro .row div{
    margin-left: 0 !important;
}

}
@media (max-width:350px){
    #cover .row .p {
        font-size: 27px;
        color: white;
        width: 294px;
    }
    .navbar{
        right: 0;
    }
    .bt3{
        width: 303px;

    }
    .intro {
        height: 500px;
    }
}
